<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47aae21c46.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <section class="search">
    <h1>GET RECIPE</h1>
    
    <form class="searchFood" action="/search" method="post">
        <input name="food" type="text" placeholder="look up food name"></input>
        <button id="submit">submit</button>
    </form>
    </section>

    <section class="information">

    <% if(placeholdImg){%>
    <img src ="<%= placeholdImg %>">
    <%} %>

    
    <% for (i=0; i < food.length; i++) {%>
    <img src="<%= food[i].img %>">
    <p id="result">
        <span><%= food[i].name %></span>
        <span><%= food[i].icon %></span>
        <span><a target="_blank" href="<%= food[i].recipe %>">recipe</a></span>
        <span><i class="fa-solid fa-trash"></i></span>
    </p>
    <%} %>
    </section>

    <section>
    <form>
        <input class="newFood" type="text" placeholder="add a new dish"></input>
        <input class="newRecipe" type="text" placeholder="add a link to the dish's recipe"></input>
        <button id="submit">update recipe</button>
     </form>
    </section>
    

    <script src="main.js"></script>
    
</body>
</html>